*{
    margin:0;
    padding:0;
}

header{
    height: 300px;
    background-color: rgb(126, 73, 9);
    
}

nav{
    height: 10%;
    background-color: black;
   

}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;

}

li{
    display: inline-block;
    width: 19%;
    text-align: center;
    padding-block: 1%;
    
}

a{
    color: rgb(241, 245, 248);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 50px;
    font-weight: bold
}

h2{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
}

#contenido2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img{
    height: 100%;
    width: 100%;
}

footer{
    background-color: black;
    height: 300px;
}

footer p{
    color: white;
    font-size: 15px;
}

footer h3{
    color: rgb(156, 156, 156);
}

footer span{
    color: white;
}

footer i{
    color: gray;
}

#contenedor{
    padding-top: 3%;
}

p{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 5px 0;
    line-height: 1.4;
}

main{
    height: 600px;
    background-color: beige;
}